.back-button {
  font-size: 18px;
}

.simple-math-container-vertical {
  display: inline-flex;
  flex-direction: column;
  margin: 40px;
}

.simple-math-container-horizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.simple-math-expr {
  margin: 10px 5px 10px 0;
  font-size: 36px;
}

.simple-math-input {
  width: 2em;
  margin: 5px;
  font-size: 36px;
}

.simple-math-answer-correct {
  margin: 5px 5px 5px 10px;
  font-size: 36px;
}

.simple-math-answer-wrong {
  margin: 5px 5px 5px 10px;
  font-size: 36px;
  background-image: linear-gradient(transparent 40%, red 40%, red 60%, transparent 60%);
}

.simple-math-label-correct {
  margin: 5px;
  font-size: 36px;
  color: green;
}

.simple-math-label-wrong {
  margin: 5px;
  font-size: 36px;
  color: red;
}

.simple-math-button {
  margin: 10px auto 0 0;
  font-size: 24px;
  padding: 12px;
}
